# Node
node_modules/
*.tgz

# iOS / Xcode
*.xcodeproj/
*.xcworkspace/
*.xcuserdata
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
*.hmap
*.swp
.build/
Pods/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*~

# Local config
ios/Local.xcconfig

# Claude
.claude/
